:root{
  --card-color: var(--eerie-black-1);
  --pillar-size: 34px;
  --big-circle-r: 30px;
  --circle-r: 13px;
  --circle-d: calc(var(--circle-r) * 2);
  --circles-space: calc(var(--big-circle-r) + var(--pillar-size));
  --circle-extend-inset: calc(var(--circle-r) + var(--circles-space));
 
}
@media (min-width: 1024px) {
  article{
      border-radius:20px 0 20px 20px;
     
      background: 
       /* Big Circle Cutout */ radial-gradient(
            circle at 100% 0%,
            transparent var(--big-circle-r),
            var(--card-color) calc(var(--big-circle-r) + 1px)
          )
          0px var(--pillar-size) / calc(51.29% - var(--pillar-size)) 100% no-repeat
          no-repeat,
        /* Top Circle  */
          radial-gradient(
            circle closest-side,
            var(--card-color) 100%,
            transparent calc(100% + 1px)
          )
          calc(49.89% - var(--circles-space)) 0 / var(--circle-d) var(--circle-d)
          no-repeat no-repeat,
        /* Right Circle */
          radial-gradient(
            circle closest-side,
             var(--card-color) 100%,
            transparent calc(100% + 1px)
          )
          100% var(--circles-space) / var(--circle-d) var(--circle-d) no-repeat
          no-repeat,
        /* Top Gap fill Pillar */
          linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0px var(--circle-r) /
          calc(51.25% - var(--circles-space)) calc(100% - var(--circle-r)) no-repeat
          no-repeat,
        /* Right Gap fill Pillar */
          linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0 var(--circles-space) /
          calc(100% - var(--circle-r)) 100% no-repeat no-repeat,
        /* Top Circle Extend */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
          0px 0px / calc(51.5% - var(--circle-extend-inset)) var(--circle-d)
          no-repeat no-repeat,
        /* Right Circle Extend  */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
          100% var(--circle-extend-inset) / var(--circle-d) 100% no-repeat no-repeat;
    }
  }
  @media (min-width: 1280px){
      article{
          border-radius:20px 0 20px 20px;
         
          background: 
           /* Big Circle Cutout */ radial-gradient(
                circle at 100% 0%,
                transparent var(--big-circle-r),
                var(--card-color) calc(var(--big-circle-r) + 1px)
              )
              0px var(--pillar-size) / calc(51.79% - var(--pillar-size)) 100% no-repeat
              no-repeat,
            /* Top Circle  */
              radial-gradient(
                circle closest-side,
                var(--card-color) 100%,
                transparent calc(100% + 1px)
              )
              calc(50.32% - var(--circles-space)) 0 / var(--circle-d) var(--circle-d)
              no-repeat no-repeat,
            /* Right Circle */
              radial-gradient(
                circle closest-side,
                 var(--card-color) 100%,
                transparent calc(100% + 1px)
              )
              100% var(--circles-space) / var(--circle-d) var(--circle-d) no-repeat
              no-repeat,
            /* Right Gap fill Pillar */
              linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0px var(--circle-r) /
              calc(51.75% - var(--circles-space)) calc(100% - var(--circle-r)) no-repeat
              no-repeat,
            /* Right Gap fill Pillar */
              linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%) 0 var(--circles-space) /
              calc(100% - var(--circle-r)) 100% no-repeat no-repeat,
            /* Top Circle Extend */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
              0px 0px / calc(51.8% - var(--circle-extend-inset)) var(--circle-d)
              no-repeat no-repeat,
            /* Right Circle Extend  */ linear-gradient(0deg,  var(--card-color) 100%,  var(--card-color) 100%)
              100% var(--circle-extend-inset) / var(--circle-d) 100% no-repeat no-repeat;
        }
       
  }

  .project-item.show {
      transition: all 0.3s ease-in-out;
      border-radius: 15px;
      outline: var(--vegas-gold) solid 2px;
      padding: 5px;
  }
 
  #project-frame {
      width: 100%;
      height: 0;
      border: none; /* Remove the border */
      border-radius: 0 0 12px 12px;
      
  }

.browser-ui {
  display: flex;
  flex-direction: column;
 /* Adjusted for max-w-4xl */
  
  border: 2px solid var(--jet);; /* border-gray-200 */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--eerie-black-2);
  transition: height 0.5s ease-in-out;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .browser-ui {
    width: 100%; /* Adjust to full width for smaller screens */
    
  }
}

@media (max-width: 768px) {
  .browser-ui {
    flex-direction: column; /* Stack content vertically */
    width: 100%; /* Full width */

  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--smoky-black); /* bg-gray-100 */
  border-bottom: 1px solid var(--jet); /* border-b border-gray-200 */
  border-radius: 12px 12px 0 0;
  padding: 8px;
  gap: 10px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1; /* Ensure controls take available space */
  margin-bottom: 0;
}

.icon-button {
  width: 32px; /* w-8 */
  height: 32px; /* h-8 */
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px; /* Adjust icon size */
  color: var(--white-2);
  text-align: center; /* Ensure icons are centered */
}

.icon-button:hover {
  background-color: var(--jet); /* hover:bg-gray-200 */
}

.icon-button.active {
  background-color: var(--vegas-gold); /* Highlight active button */
  color: black; /* Ensure contrast */
  border: 1px solid var(--vegas-gold); /* Add border for visibility */
}

.icon-button:focus {
  outline: none; /* Remove default focus outline */
}

.url-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid var(--jet); /* border-gray-200 */
  border-radius: 4px;
  width: 100%;
  pointer-events: none; /* Make input non-editable */
  background-color: var(--eerie-black-1);
  color: var(--white-2);
}

.window-controls {
  display: flex;
  align-items: center;
}

.ghost {
  background: none;
  border: none;
  color: var(--white-2);
}

.ghost:hover {
  background-color: var(--jet); /* hover:bg-gray-200 */
}

.close:hover {
  background-color: var(--bittersweet-shimmer); /* hover:bg-red-500 */
  color: var(--white-1); /* hover:text-white */
}

.content {
  flex-grow: 1;
  background-color: var(--eerie-black-2);
  overflow: auto;
  color: var(--white-2);
}

h1 {
  font-size: 24px; /* text-2xl */
  font-weight: bold;
  margin-bottom: 16px; /* mb-4 */
}

p {
  margin-bottom: 16px; /* mb-4 */
}
.header button{
  border-radius: 12px;
}
